<p class="message">{{ message }}</p>

<div class="container">

    <div class="form">

        <input [(ngModel)]="newTask" class="textInput" placeholder="Ajouter une tâche">
    
        <button (click)="addtask()" class="submit">Ajouter</button>
    
    </div>
    
    
    <ul class="list" >
        @for (task of tasks; track $index) {
            <li class="delete">
                {{task}}
                <button (click)="deleteTask($index)">❌</button>
            </li>
        }
    </ul>

</div>



